.ControlPanel {
  height: 100%;
}

#table-control-panel {
  margin-right: 5%;;
  margin-left: 5%;
  margin-bottom: 5vh;
  box-sizing: border-box;
  max-width: 90vw;
}

#table-control-panel button {
  color: #222C35;
}

#table-control-panel h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #222C35;
}

#table-control-panel th {
  text-transform: uppercase;
  transition: 0.2s ease;
}

#table-control-panel button:hover,
#table-control-panel th:hover {
  color: #D72322;
}

@media only screen and (min-width: 960px) {
  #table-control-panel th,
  #table-control-panel td {
    padding-left:10px;
    padding-right: 10px;
  }
}