#table-leaderboards {
  margin-right: 5%;;
  margin-left: 5%;
  margin-bottom: 5vh;
  box-sizing: border-box;
  max-width: 90%;
}

#table-leaderboards button {
  color: #222C35;
}

#table-leaderboards h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #222C35;
}

#table-leaderboards th {
  text-transform: uppercase;
  transition: 0.2s ease;
}

#table-leaderboards button:hover,
#table-leaderboards th:hover {
  color: #D72322;
}

.Leaderboards {
  min-height: 94.9vh;
  position: relative;
}

.datePicker {
  display: flex;
  justify-content: center;
}

.date {
  margin: 3vh 10vw !important;
}
