.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(204,215,216);
  background: linear-gradient(90deg, rgba(204,215,216,1) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(204,215,216,1) 100%);
}

.MuiPaper-root-1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 5vmin;
}