.App {
  height: 100%;
}

.add-wrapper {
  position: fixed;
  bottom: 5vh;
  right: 10vh;
  z-index: 1001;
}

.add-icon {
  background-color: #222C35 !important; 
}

.add-icon:hover {
  background-color: rgb(65, 89, 109) !important; 
}

input[type=date]::-webkit-inner-spin-button {
  visibility: hidden;
}