.Footer {
  display: flex;
  position: relative;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 7vh;
  background-color: #222C35;
  color: #fff;
  z-index: 1000;
  align-items: center;
}

.logo,
.user {
  margin: auto 5vw;
}

.logo {
  flex: 1;
  justify-self: flex-start;
}

.logo img {
  max-height: 5vh;
}

.user {
  justify-self: flex-end;
}